*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 font-family:'Poppins', sans-serif;
 background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
nav{
    background-color:  #000000;
    text-align: center;
}
nav ul li {
    text-align: center;
    float: left;
    list-style: none;
    margin: 0px;
}
section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
}
#menu-h{
    max-width: 950px;
    min-height: 50px;
    background: #000000;
    margin: 0 auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;

}
#menu-h a{
    font-family: 'Justo', cursiva;
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    background: #000000;
    font-size: 18px;
}
#menu-h a:hover{
    background: #944BBB;
    display:  block;
    padding: 0.5rem 1rem;
    transition:  all 0.4s lineal;
}
#menu-h ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
footer{
    width: 1349px;
    min-height: 40px;
    background: #000000;
    color: rgb(255, 255, 255);
    line-height: 50px;
    text-align: center;
    margin: auto;
}
#uno{
width: 200px;
}
#dos{
    width: 200px;
}
#blanco{
    height: 10px;
}
#generos{

    background-color:  #EBEEF3;
    text-align: center;
    width: 1100px;
    color: #000000;
    width: 950px;
    min-height: 300px;
    margin: auto;
    border: black 10px solid;
}
#generos ul li {
    text-align: center;
    float:none;
    list-style: none;
    margin: 0px;
    color: #000000;
}
#generos a{
    font-family: 'Justo', cursiva;
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    background: #EBEEF3;
    font-size: 18px;
    color: #000000;
}
#generos a:hover{
    background: #000000;
    display:  block;
    padding: 0.5rem 1rem;
    color: #ffffff;
}
#generos ul{
    list-style: none;
    display: block;
    justify-content: center;
}
#spotify{
    width: 200px;
}
#spot{
    width: 200px; 
}
#Slider{
    width: 0;
    margin: 30px auto;
    overflow: hidden;
}
#Slider ul{
    list-style: none;
    width: 1000em;
    display: flex;
    animation: slide 10s infinite alternate;
}
@keyframes slide{
    0%{margin-left:0px;}
    40%{margin-left: 0px;}

    45%{margin-left: -1000px;}
    70%{margin-left: -1000px;}

    75%{margin-left: -2000px;}
    100%{margin-left: -2000px;}
}
#contenido{
    width: 950px;
    min-height: 500px;
    margin: auto;
    border: black 10px solid;
}
#insta{
    width: 200px;
}
#clairo{
width: 40px;
}
#arte1{
    width: 40px;
}

#Slider{
    height: 600px;
    width: 1000px;
    margin: 100px auto;
    overflow: hidden;
}
#Slider ul{
    list-style: none;
    width: 100;
    display: flex;
    animation: slide 5s infinite alternate;
}
@keyframes slide{
    0%{margin-left: 0px;}
    40%{margin-left: 0px;}

    45%{margin-left: -1500;}
    70%{margin-left: -1500;}

    75%{margin-left: -2000px;}
}
